# Configs containing camera credentials
#config/scan.cfg
#config/user.cfg

# Local output reports
infos*

# Python caching & environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.pytest_cache/

# Agents
.agents