# List of MAC Address OUI prefixes (3-byte hex) mapped to Camera Manufacturers / Vendors.
# Format: XX:XX:XX = VendorName
# Blank lines and lines starting with '#' are ignored.
#
# Examples:
# 00:12:33 = Hikvision/OEM
# 00:1A:07 = Dahua
# 00:1E:58 = Intelbras

# Hikvision / EZVIZ
44:80:EB = Hikvision
9C:14:63 = Hikvision
10:5B:AD = Hikvision
D4:E8:40 = Hikvision
C4:2F:90 = Hikvision
48:EA:63 = Hikvision
BC:AD:28 = Hikvision
E8:AB:FA = Hikvision
70:B3:D5 = Hikvision
00:40:48 = Hikvision
24:A4:3C = Hikvision
BC:5E:5B = Hikvision
00:25:1A = Hikvision
00:35:28 = Hikvision
00:C6:DE = Hikvision
00:F1:28 = Hikvision
00:24:BB = Hikvision
00:12:33 = Hikvision/OEM

# Dahua / Imou / Lorex / Amcrest
38:AF:29 = Dahua
B8:A3:86 = Dahua
90:02:A9 = Dahua
E4:52:CD = Dahua
F4:B5:20 = Dahua
14:A7:8B = Dahua
40:12:00 = Dahua
94:E1:AC = Dahua
00:1A:07 = Dahua
5C:F8:21 = Dahua
E0:50:8B = Dahua
00:12:12 = Dahua
3C:EF:8C = Dahua

# Intelbras
00:1E:58 = Intelbras
4C:5E:0C = Intelbras
E0:E8:E6 = Intelbras
A4:B1:C1 = Intelbras
C8:5B:76 = Intelbras
A8:BD:27 = Intelbras
18:E8:29 = Intelbras
A4:05:E1 = Intelbras

# Reolink
EC:71:DB = Reolink
34:E1:D1 = Reolink
B8:3F:7C = Reolink
4C:E1:73 = Reolink
08:8E:90 = Reolink

# Axis Communications
00:40:8C = Axis
AC:CC:8E = Axis
B8:A4:4F = Axis
00:05:AB = Axis

# Bosch Security
00:07:07 = Bosch
00:0F:7C = Bosch
00:1B:86 = Bosch

# Hanwha / Samsung Techwin
00:09:18 = Hanwha/Samsung
00:16:6C = Hanwha/Samsung
00:24:D4 = Hanwha/Samsung
D0:C1:B1 = Hanwha/Samsung

# Uniview (UNV)
20:F8:5E = Uniview
70:64:17 = Uniview
6C:F1:7E = Uniview
00:14:1A = Uniview

# TP-Link / VIGI / Tapo
50:C7:BF = TP-Link
74:DA:88 = TP-Link
B0:4E:26 = TP-Link
98:25:4A = TP-Link
90:F6:52 = TP-Link
A4:2B:B0 = TP-Link
A8:5E:45 = TP-Link
68:B9:D3 = TP-Link
00:31:92 = TP-Link
1C:3B:F3 = TP-Link

# Tuya / Xiongmai / SmartLife / Bilian
B4:FB:E3 = Tuya/SmartLife
D0:03:DF = Bilian/OEM
50:02:91 = Tuya
EC:3B:8B = Tuya
10:D5:61 = Tuya
D4:A6:51 = Xiongmai

# Foscam
00:62:6E = Foscam
C4:D6:55 = Foscam
00:4E:01 = Foscam

# Vivotek
00:02:D1 = Vivotek
00:02:D2 = Vivotek

# Ubiquiti / UniFi
78:8A:20 = Ubiquiti
B4:FB:E4 = Ubiquiti
F4:92:BF = Ubiquiti
74:83:C2 = Ubiquiti
68:D7:9A = Ubiquiti

# GeoVision / Avigilon / Milesight
00:13:E2 = GeoVision
00:18:90 = Avigilon
00:1C:27 = Milesight
